@model MvcApplicationForCV.Models.CV

@{
    ViewData["Title"] = "View";
}
<h1>@Model.PersonalInfo.FirstName CV</h1>

<div>
    <hr />
    <div class="cv">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2>Personal Information</h2>
                    <div class="card mb-2">
                        <div class="card-body">
                            <p>@Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName</p>
                            <p>@Model.PersonalInfo.PhoneNumber</p>
                            <p>@Model.PersonalInfo.Email</p>
                        </div>
                    </div>
                </div>
            </div>

            @if(Model.PersonalInfo.AddressList.Count > 0)
            {
                <div class="row mb-4">
                    <div class="col">
                        <h3>@(Model.PersonalInfo.AddressList.Count == 1 ? "Address" : "Addresses")</h3>
                        @foreach (var address in Model.PersonalInfo.AddressList)
                        {
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p>@address.Country, @address.City, @address.Street, @address.StreetNumber, @address.PostalCode</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if(Model.Educations.Count > 0)
            {
                <div class="row mb-4">
                    <div class="col">
                        <h3>@(Model.Educations.Count == 1 ? "Education" : "Educations")</h3>
                        @foreach (var education in Model.Educations)
                        {
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p>@education.Name - @education.Course (@education.EducationLevel)</p>
                                    <p>
                                        Status: @education.EducationStatuss, Date: @education.StartDate.ToString("yyyy-MM-dd") -
                                        @(education.EndDate.HasValue ? education.EndDate.Value.Date.ToString("yyyy-MM-dd") : "Still learning")
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if(Model.WorkExperiences.Count > 0)
            {
                <div class="row mb-4">
                    <div class="col">
                        <h3>@(Model.WorkExperiences.Count == 1 ? "Work Experience" : "Work Experiences")</h3>
                        @foreach (var work in Model.WorkExperiences)
                        {
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p>@work.CompanyName - @work.PositionTitle</p>
                                    <p>Description: @work.PositionDescription, Work Load: @work.WeeklyWorkLoad</p>
                                    <p>Date: @work.StartDate - @(work.EndDate.HasValue ? work.EndDate.Value.Date.ToString("yyyy-MM-dd") : "Still working")</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if(Model.LanguageSkills.Count > 0)
            {
                <div class="row mb-4">
                    <div class="col">
                        <h3>@(Model.LanguageSkills.Count == 1 ? "Language" : "Languages")</h3>
                        @foreach (var language in Model.LanguageSkills)
                        {
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p>@language.Name - Listening: @language.Listening, Reading: @language.Reading, Speaking: @language.Speaking, Writing: @language.Writing</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <button id="btnPrint" class="btn btn-primary">Print</button> |
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Show" class="btn btn-info">Back to List</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/print.js"></script>
